{% extends "base.html.twig" %}
{% block title %}Adminstration
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/adminnav.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1 style="text-align:center;">Adminstration</h1>
			</main>
		</div>
	</div>
{% endblock %}
